footer {
    background: #333;
    color: #fff;
    padding: 30px 10%;
    text-align: center;
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}
  
.footer-section {
    flex: 1;
    min-width: 200px;
}
  
.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.footer-section p, .footer-section a {
    font-size: 14px;
    color: #cccccc;
    text-decoration: none;
}

.footer-section a {
    color: #1db954;
}
  
.footer-section a:hover {
    color: #00730f;
}
  
.social {
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.social i {
    font-size: 18px;
}
  
.copyright {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.7;
}
  
/* Responzivita */
@media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
}
  