/* Reset stylů */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 0.5px; /* Jemné zvětšení mezery */
}

/* Skrytí navigace na mobilních zařízeních */
.navbar {
    display: none;
  }
  
  /* Tlačítko pro zobrazení menu */
  .menu-toggle {
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Při zobrazení menu */
  .navbar.open {
    display: block;
  }
  
  /* Styl pro seznam na mobilu */
  .navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar li {
    padding: 10px 0;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #0b8dd8;
  }
  
  /* Pro větší obrazovky navigace zůstane viditelná */
  @media (min-width: 768px) {
    .navbar {
      display: block;
    }
    .menu-toggle {
      display: none;
    }
  }
  

/* Navigační lišta */
.navbar {
    background-color: white; /* Barva pozadí */
    padding: 1.5em 2em;
}

.navbar ul {
    display: flex; /* Horizontální rozložení */
    justify-content: center; /* Zarovnání na střed */
}
  
.navbar li {
    margin: 0 15px; /* Mezery mezi odkazy */
}

.navbar a {
    text-decoration: none; /* Odstranění podtržení */
    color: #0b8dd8; /* Barva textu */
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #0000ff; /* Barva textu při najetí myší */
}

@media (max-width: 768px) {
    .navbar ul {
      flex-direction: column; /* Přepnutí na vertikální zobrazení */
      align-items: center;
    }
  
    .navbar li {
      margin: 10px 0; /* Vertikální mezery mezi odkazy */
    }
}



/* Stylování footeru */
.custom-footer {
    background-color: #5f5f5f;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 0.5px;
    width: 100%;
}



/* Ujistí se, že footer je dole, ale nepřekrývá obsah */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}



/* font */
body {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    500 100;
}
  