/* Reset stylů */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 0.5px; /* Jemné zvětšení mezery */
}



/* Navigační menu */
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 20px 20px;
    position: relative;
}

.navbar ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    font-size: 18px; /* Zvýšení velikosti písma */
    padding: 10px 15px; /* Lepší klikatelnost */
}

nav ul li a:hover {
    color: #a68063;
}

/* Animace podtržení při najetí myší */
.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #a68063;
    transition: width 0.3s ease-in-out;
}

.navbar ul li a:hover::after {
    width: 100%;
}

/* Hamburger ikonka */
#hamburger-icon {
    display: none;
    cursor: pointer;
    padding: 10px; /* Oddálení od okrajů */
}

#hamburger-icon div {
    width: 40px; /* Zvýšení velikosti ikonky */
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Mobilní menu */
.mobile-menu {
    display: none;
    position: relative; /* Změna z absolute na relative */
    width: 100%;
    background-color: #f7ebd7;
    text-align: center;
    margin-top: 50px; /* Posunutí obsahu níže */
}

.mobile-menu li {
    padding: 15px 0;
}

.mobile-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.mobile-menu li a:hover {
    color: #a68063;
}

.open .mobile-menu {
    display: block;
}

/* Responsivní menu */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}

/* Desktop verze */
@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }

    #hamburger-icon {
        display: none;
    }

    .navbar ul {
        display: flex;
    }
}









/* Ujistí se, že footer je dole, ale nepřekrývá obsah */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}



/* font, pozadí */
body {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #f7ebd7;
}



/* banner */
.banner img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .banner img {
        max-height: 200px; /* Menší výška na mobilech */
    }
}

  