/* Reset stylů */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 0.5px; /* Jemné zvětšení mezery */
}



/* Skrytí navigace na mobilních zařízeních */
.navbar {
    display: none;
}

/* Tlačítko pro zobrazení menu */
.menu-toggle {
    font-size: 30px;
    cursor: pointer;
}

/* Při zobrazení menu */
.navbar.open {
    display: block;
}

/* Styl pro seznam na mobilu */
.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    padding: 10px 0;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

/* Pro větší obrazovky navigace zůstane viditelná */
@media (min-width: 768px) {
    .navbar {
        display: block;
    }
    .menu-toggle {
        display: none;
    }
}

/* Pro mobilní zobrazení, kde se menu objeví jako blok */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Skryto ve výchozím stavu */
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #f7ebd7;
    }

    .navbar.open {
        display: block; /* Zobrazí se po kliknutí */
    }

    .navbar ul {
        display: block;
        text-align: center;
    }

    .navbar li {
        padding: 15px 0;
    }
}

  

/* Navigační lišta */
.navbar {
    background-color: #f7ebd7; /* Barva pozadí */
    padding: 1.5em 2em;
}

.navbar ul {
    display: flex; /* Horizontální rozložení */
    justify-content: center; /* Zarovnání na střed */
}
  
.navbar li {
    margin: 0 15px; /* Mezery mezi odkazy */
}

.navbar a {
    text-decoration: none; /* Odstranění podtržení */
    color: black; /* Barva textu a68063 */
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #a68063; /* Barva textu při najetí myší 47372a */
}



/* Stylování footeru */
.custom-footer {
    background-color: #3ca653;
    color: #1a4724;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 0.5px;
    width: 100%;
}



/* Ujistí se, že footer je dole, ale nepřekrývá obsah */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}



/* font, pozadí */
body {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #f7ebd7;
}



/* banner */
.banner img {
    width: 100%;
    height: auto;
    max-height: 300px; /* Omezí výšku na mobilech */
    object-fit: cover;
}
  