/* Vycentrování obsahu a pravidelné okraje */
.obsah {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Stylování sekce O nás */
.styl-obsah {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
}

.styl-obsah img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-obsah {
    max-width: 600px;
    color: #0b8dd8;
    font-size: 18px;
    line-height: 1.6;
    
}

.text-obsah p {
    text-align: justify;
}

/* Responzivita pro mobilní zařízení */
@media (max-width: 768px) {
    .styl-obsah {
        flex-direction: column;
        text-align: center;
    }

    .styl-obsah img {
        width: 80%;
    }
}
